div{
    text-align:center;

}
.eye1{
    width:73px;
    height:89px;
    border-radius:100%;
    position:relative;
    border:2px solid black;
    bottom:747px;
    left: 665px;
    overflow:hidden;
}
.balls{
    width:18px;
    height:29px;
    border-radius:50%;
    position:relative;
    border:2px solid black;
    top:30px;
    left:40px;
    
}
.eye2{
   width:74px;
   height:89px;
   border-radius:50%;
   position:relative;
   border:2px solid black;
   bottom:839px;
   left: 560px;
   overflow:hidden;
}
